<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Łukasz Bartmiński!", sticky: false, time: 6000) %>
    <% end %>
  <% end %>

  <div class="text-dark">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="text-dark">
    <%= form.text_area :body, class: 'form-control', rows: 10, placeholder: 'Blog content!' %>
  </div>

  <div class="text-dark" style="padding-top: 10px">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-secondary' %>
  </div>
<% end %>