<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-dark">
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="text-dark">
    <%= form.text_area :body, class: 'form-control', rows: 10, placeholder: 'Blog content!' %>
  </div>

  <div class="text-dark" style="padding-top: 10px">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-secondary' %>
  </div>
<% end %>